<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <form action="/login" method="post">
        Youtube URL: <input name="URL" type="text" />
        Video ID: <input name="username" type="text" />
        <label for="downloadoption">Option</label>
            <select name="downloadoption" id="downloadoption">
            <option value="mp3">Solo Audio</option>
            <option value="mp4">Audio+Video</option>
        </select> 
        <input value="Download" type="submit" />
    </form>
</body>
</html>